body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #fffafc;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80vh;
}
