.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex: 2;
  padding: 2rem;
}

.product-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card button {
  background-color: #ff007f;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
}
.product-card button:hover {
  background-color: #ff3399;
}
